<header class="header">
  <div class="container">
    <div class="header__content">

      <div class="logo header__logo">
        <a class="logo__link" href="/">
          <img src="img/logo.svg" alt="">
        </a>
      </div>

      <nav class="header__nav">
        <ul class="header__menu menu">
          <li class="menu__item">
            <a href="#" class="menu__link link-hover active ">Услуги</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link link-hover">Доставка</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link link-hover">Производство</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link link-hover">Контакты</a>
          </li>
          <li class="menu__item drop-down header__drop-down">
            <div class="menu__item-wrap">
              <a href="#" class="menu__link link-hover">Партнерство
                <span class="drop-down__arrow">
                  <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L4 4L7 1" stroke="#072C74" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </span>
              </a>
            </div>
            <ul class="menu__submenu">
              <li class="menu__item">
                <div class="menu__item-wrap">
                  <a class="menu__link link-hover" href="#">Доставка</a>
                </div>
              </li>
              <li class="menu__item">
                <div class="menu__item-wrap">
                  <a class="menu__link link-hover" href="#">Производство</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </nav>

      <a href="" class="header__button">
        Войти
      </a>

      <div class="header__lang lang">
       
        <ul class="lang__menu menu">
          <li class="menu__item drop-down lang__drop-down">
            <div class="menu__item-wrap">
              <a href="#" class="menu__link link-hover"> Ру
                <span class="drop-down__arrow">
                  <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L4 4L7 1" stroke="#072C74" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </span>
              </a>
            </div>
            <ul class="menu__submenu">
              <li class="menu__item">
                <div class="menu__item-wrap">
                  <a class="menu__link link-hover" href="#">Es</a>
                </div>
              </li>
              <li class="menu__item">
                <div class="menu__item-wrap">
                  <a class="menu__link link-hover" href="#">Hu</a>
                </div>
              </li>
              
              <li class="menu__item">
                <div class="menu__item-wrap">
                  <a class="menu__link link-hover" href="#">Еn</a>
                </div>
              </li>

            </ul>
          </li>
        </ul>
      </div>

    </div>
  </div>
</header>