<section class="section1">

  <div class="section1__content">
    <div class="container">
      <h2 class="title section1__title">
        Производственная логистика нового уровня
      </h2>
    </div>
    <div class="section1__img">
<img src="img/IMG_main_dropex.svg" alt="">
    </div>
    <div class="container">
    <div class="section1__sections">
      <section class="section1__section">
        <div class="section1__section-content">
          <h3 class="section1__section-title">
            Доставка
          </h3>
          <div class="section1__section-hidden">
            <div class="section1__section-text">
              Доставляем грузы в любую точку мира — быстро, аккуратно и наиболее оптимальным способом. Оформляем все необходимые разрешительные документы.
            </div>
            <a href="" class="section1__section-link">
              Присоединяйся
            </a>
          </div>
        </div>     
      </section>
      
      <section class="section1__section">
        <div class="section1__section-content">
          <h3 class="section1__section-title">
            CRM
          </h3>
          <div class="section1__section-hidden">
            <div class="section1__section-text">
              Удобная CRM с проверенной базой данных позволяет оптимизировать бизнес-процессы в сфере логистики и производства.
            </div>
            <a href="" class="section1__section-link">
              Присоединяйся
            </a>
          </div>
        </div>     
      </section>
      <section class="section1__section">
        <div class="section1__section-content">
          <h3 class="section1__section-title">
            Производство
          </h3>
          <div class="section1__section-hidden">
            <div class="section1__section-text">
              Все private label производители собраны в одном месте, чтобы помочь вам с расширением существующего ассортимента или созданием бренда с нуля.
            </div>
            <a href="" class="section1__section-link">
              Присоединяйся
            </a>
          </div>
        </div>     
      </section>


    </div>
  </div>

  </div>
</section>