.header {
  background: rgba($color: #FFFFFF, $alpha: 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  &__content {
    height: 60px;
    display: flex;
    align-items: center;
  }

  &__nav {
    margin-left: auto;
  }

  &__menu {

    >li:not(:last-child) {
      margin-right: 34px;
    }
  }

  &__drop-down {
    text-align: right;
  }

  &__button {
    cursor: pointer;
    display: block;
    margin-left: 30px;
    padding: 8px 20px 7px;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: #FF6E4E;
    border: 2px solid #FF6E4E;
    border-radius: 20px;
    transition: 0.3s;
  }

  &__button:hover {
    background: #FF6D4E;
    border: 2px solid #FF6D4E;
    color: #FFFFFF;
    transition: 0.3s;
  }

  &__button:active {
    background: #D74213;
    border: 2px solid #D74213;
    color: #FFFFFF;
    transition: 0.3s;
  }

  &__lang {
    margin-left: 50px;
  }

}

.logo {
  img {
    width: 158px;
    height: 39px;
  }
}

.menu {
  height: 30px;
  display: flex;

  &__item-wrap {
    padding: 0 7px;
  }

  &__link {
    font-size: 16px;
    display: block;
    line-height: 30px;
  }
}

.drop-down {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  &__arrow {
    position: relative;
    top: -2px;
  }

  .menu__submenu {
    display: none;
    width: 100%;
    padding-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
  }

  .menu__submenu::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 7px;
    width: calc(100% - 14px);
    display: block;
    height: 1px;
    background-color: rgba($color: #072C74, $alpha: 0.3);
  }

  &:hover &__arrow svg {
    transform: scale(1, -1);
  }

  &:hover {
    background: rgba(255, 255, 255, 0.9);

  }

  &:hover .menu__submenu {
    display: block;
    background: rgba(255, 255, 255, 0.9);

  }
}

.link-hover {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #072C74;
    transform: translate(-101%, 0);
  }

  &.active::after {
    transform: translate(0, 0);
  }

  &:hover::after {
    animation: menu 1s both linear;
  }
}

@keyframes menu {
  0% {
    transform: translate(-100%, 0);
  }

  1% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(0, 0);
  }

  60% {
    transform: translate(100%, 0);
  }

  61% {
    transform: translate(-100%, 0);
  }

  100% {
    transform: translate(0, 0);

  }

}