.section1 {
  &__img {
    margin: 0 auto;
  }
  &__content {
    padding-top: 90px;
    
  }
  &__title {
    margin: 0 auto;
    width: 60%;
  }
  &__sections {
    display: flex;
    padding-bottom: 80px;
  }
  &__section {
flex: 0 0 33.3333%;
max-width: 33.3333%;
  }
  &__section-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__section-title {
    font-size: 25px;
  }
  &__section-text {
    flex-grow: 1;
    min-height: 150px;
    padding-bottom: 20px;
  }
  &__section-hidden {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  &__section-link {
    color: #FF6E4E;
    text-transform: uppercase;
  }
}